html, body {
	width: 100%;
	height: 100%;
}
body::after {
    content: "";
    background-image: url('images/earthtelefoon.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:space;
    background-attachment: fixed;
    background-size: 130%;
    opacity:0.43;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
h1{
	color:white;
	font-family: 'Kefa', arial, sans-serif;
}
.grid-item2, .grid-item3, .grid-item4, .grid-item5{
	/* background-color: white; */
}
h1#title{
	font-size: 7vw;
	text-align: center;
	text-shadow: 1px 1px 7px white;
	color:#67a18b;
}
#spacelogo{
	width: 50vw;
	height: auto;
	margin:2vw;
}
article{
	font-size: 3.5vw;
	/* text-shadow: 1px 1px 1px #B6B1A8; */
	font-family: 'kefa', arial, sans-serif;
}
p#waar{
	font-size: 5vw;
	text-align: left;
	font-family: 'kefa', arial, sans-serif;
}
p#handig{
	font-size: 4vw;
	text-align: center;
	font-family: 'kefa', arial, sans-serif;
}
#credit{
	text-align:center;
	margin-top: 3vh;
	font-family: 'kefa', arial, sans-serif;
}
/* alle lossen informatievakken */
#naamPlek, #graden, #beschrijvingweer, #handig {
	text-align: center;
}
article#naamPlek{
	margin-top: 5vh;
	font-size: 4.5vw;
	text-align: center;
}

/* geocoder en de map */
.geocoder {
    position: relative;
    z-index: 1;
    width: 20%;
    left: 24vw;
    margin-left: -25%;
    }
.mapboxgl-ctrl-geocoder {
			 width: 70%;
			 height:50px;
			 padding: 2px 4px  3px  3px;
	 }
#map {
	 height: 30vh;
	 width: 90vw;
	 }

/* tablet */
@media only screen and (min-width: 834px) and (max-width:1279px){
	body::after {
	    background-image: url('images/earthtablet.jpg');
	    background-size: 130%;
	    top:0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    z-index: -1;
	}
	#spacelogo{
		width: 25vw;
		height: auto;
		margin:2vw 0vw 0vw 2vw;
	}
	h1#title{
		font-size: 5vw;
		text-align:center;
		margin:3vw 3vw 0vw 0vw;
	}
	#map {
	  height: 50vh;
	  width: 45vw;
		margin-top: 0vh;
	}
	p#waar{
		text-align: left;
		font-size: 3vw;
	}
	p#handig{
		font-size: 2vw;
	}
	.geocoder {
	    position: relative;
	    z-index: 1;
	    width: 20%;
	    left: 24vw;
	    margin-left: -25%;
	    }
	.mapboxgl-ctrl-geocoder {
				 width: 100%;
				 height:40px;
				padding: 2px 4px  3px  3px;
		 }
		article#beschrijvingweer{
			font-size: 2.5vw;
		}
		article#graden{
			font-size: 5vw;
		}
		article#naamPlek{
			margin-top:1.5vh;
			font-size: 2.5vw;
		}
}

/* kleine desktop */
@media only screen and (min-width: 1280px) and (max-width:1919px){
	body::after {
	    background-image: url('images/earth1280.jpg');
	    background-size: 130%;
	    top:0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    z-index: -1;
	}
	#spacelogo{
		width: 22vw;
		height: auto;
		margin:2vw 0vw 0vw 2vw;
	}
	h1#title{
		font-size: 4.2vw;
		text-align:center;
		margin:0vw -4vw 0vw 0vw;
	}
	#map {
	  height: 37vh;
	  width: 45vw;
	}
	.geocoder {
	    position: relative;
	    z-index: 1;
	    width: 20%;
	    left: 12.5vw;
	    margin-left: -25%;
			 margin-top: -1vh;
	    }
	.mapboxgl-ctrl-geocoder {
				 width: 100%;
		 }
	article{
		font-size: 1.5vw;
	}
	p#waar{
		font-size: 2.2vw;
		margin-top: 1vh;
		}
	p#handig{
		font-size: 1.7vw;
		margin-top: 0vh;
		text-align: center;
	}
	article#beschrijvingweer{
			font-size: 2vw;
			margin-top: 10.5vh;
		}
	article#graden{
			margin-top: 8.5vh;
			font-size: 6vw;
		}
	article#naamPlek{
			margin-top:2.5vh;
			font-size: 1.7vw;
			text-align: left;
		}
}

/* grote desktop */
@media only screen and (min-width: 1920px) {
	body::after {
			background-image: url('images/earth.jpg');
			background-size: 100%;
			top:0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
	}
	#spacelogo{
		width: 27vw;
		height: auto;
		margin:1.5vw 0vw 0vw 3vw;
	}
	h1#title{
		font-size: 3.3vw;
		text-align:center;
		margin:1.5vw -3vw 0vw 0vw;
	}
	#map {
	  height: 55vh;
	  width: 35vw;
	}
	.geocoder {
		 left:12.5vw;
		 margin-top: -3vh;
		}
	.mapboxgl-ctrl-geocoder {
		 width: 100%;
		 height:45px;
 		padding: 7px 45px;
		 }
	article{
		font-size: 1.5vw;
	}
	p#waar{
		font-size: 2.2vw;
	text-align: left;
	margin-top: -1vh;
		}
	p#handig{
		font-size: 1.4vw;
		margin-top: 5vh;
	}
	article#beschrijvingweer{
			margin-top:2.5vh;
			font-size: 1.7vw;

		}
	article#graden{
			margin-top: 1vh;
			font-size: 4vw;
		}
	article#naamPlek{
			margin-top:4vh;
			font-size: 1.7vw;
		}
	#credit{
		font-size: 1.3vw;
	}
}
